<div class="panel">
        <div class="panel-heading" style="background:#0888D7;">
          <h3 class="panel-title" style="padding:5px;color:#f7f7f7;">Booking Form</h3>
        </div>
        <div class="panel-body">
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title pull-left">New Trip Form</h3>
                
                <div style="clear:both"></div>
              </div>
              <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Phone number</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control" name="phonenumber" id="phoneNumber" placeholder="Phone number">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Alternate number</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control" name="altphoneNumber" id="altphoneNumber" placeholder="Alternate Phone number">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Customer Name</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control" name="username" id="username" placeholder="Customer Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Enquiry Type</label>
                    <div class="col-sm-8">
                      <label class="radio-inline">
                        <input type="radio" id="inlineCheckbox1" value="option1"> Direct Enquiry
                      </label>
                      <label class="radio-inline">
                        <input type="radio" id="inlineCheckbox2" value="option2"> Missed Call
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">From Address</label>
                    <div class="col-sm-8">
                      <textarea class="form-control" placeholder="From Address"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">To Address</label>
                    <div class="col-sm-8">
                      <textarea class="form-control" placeholder="To Address"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Trip Time</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                  </div>                  
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Confimration Time</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Trip type</label>
                    <div class="col-sm-8">
                      <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> Recurring
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2" value="option2"> Return
                      </label>                      
                      <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2" value="option2"> Booking for Others
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Return Trip Time</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Special Remarks</label>
                    <div class="col-sm-8">
                      <textarea class="form-control" placeholder="Enter notes"></textarea>
                    </div>
                  </div>        
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                      <button type="submit" class="btn btn-default btn-success">Submit and Save</button>
                    </div>
                  </div>
                </form>          
              </div>
            </div>

          </div>
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title pull-left">Recurring Trip</h3>
                <div style="clear:both"></div>
              </div>
              <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                   <label class="col-sm-3 control-label">Recurring days</label>
                   <div class="col-sm-9">
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox1" value="option1"> Mon
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox2" value="option2"> Tue
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Wed
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Thu
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Fri
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Sat
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Sun
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Start Date</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Phone number" value="Mr. Venkatesh">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">End Date</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Phone number" value="Mr. Venkatesh">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-8">
                    <button type="submit" class="btn btn-default btn-danger">Book Recurring Trips</button>
                  </div>
                </div>
              </form>
            </div> 
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Customer Details</h3>
              <div style="clear:both"></div>
            </div>
            <div class="panel-body">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Name</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Phone number" value="Mr. Venkatesh">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Phone number</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Phone number" value="+91 98409 42024">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Email ID</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Phone number" value="kjvenky@gmail.com">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Gender</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Phone number" value="+91 98409 42024">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-1">
                    <table class="table table-hover table-striped">
                      <thead>
                        <tr>
                          <th style="text-align:center">From</th>
                          <th style="text-align:center">Previous Address List</th>
                          <th style="text-align:center">To</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <label class="radio-inline" style="padding-top:0px;margin-top:-12px;">
                              <input type="radio" id="inlineCheckbox1" value="option1"> 
                            </label>
                          </td>
                          <td style="text-align:center">  B-4 LAKE VIEW ROAD  IIT MADRAS CAMPUS IIT 600036</td>
                          <td>
                            <label class="radio-inline" style="padding-top:0px;margin-top:-12px;">
                              <input type="radio" id="inlineCheckbox1" value="option1"> 
                            </label>
                          </td>
                        </tr>
                        <tr>
                          <td>                            <label class="radio-inline" style="padding-top:0px;margin-top:-12px;">
                            <input type="radio" id="inlineCheckbox1" value="option1"> 
                          </label></td>
                          <td style="text-align:center">  B-4 LAKE VIEW ROAD  IIT MADRAS CAMPUS IIT 600036</td>
                          <td>                            <label class="radio-inline" style="padding-top:0px;margin-top:-12px;">
                            <input type="radio" id="inlineCheckbox1" value="option1"> 
                          </label></td>
                        </tr>                       
                        <tr>
                          <td>                            <label class="radio-inline" style="padding-top:0px;margin-top:-12px;">
                            <input type="radio" id="inlineCheckbox1" value="option1"> 
                          </label></td>
                          <td style="text-align:center">  B-4 LAKE VIEW ROAD  IIT MADRAS CAMPUS IIT 600036</td>
                          <td>                            <label class="radio-inline" style="padding-top:0px;margin-top:-12px;">
                            <input type="radio" id="inlineCheckbox1" value="option1"> 
                          </label></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-8">
                    <button type="submit" class="btn btn-default btn-danger">Edit Customer Details</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title pull-left">Customer Trip History</h3>
              <div style="clear:both"></div>
              </div>
            <div class="panel-body">
<table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>From</th>
          <th>To</th>
          <th>Date</th>
          <th>Fare</th>
          <th>Km</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>@fat</td>
          <td>@fat</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>@tw itter</td>
          <td>@twitter</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
            </div>
          </div>
<!--         <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">General Questions</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div> -->
      </div>
    </div>
  </div>