    <div class="sidebar-collapse menu-scroll" style="overflow: hidden;">
      <ul id="side-menu" class="nav" style="text-align:center;">
        <li class="clock" style="padding:15px 0px;border-bottom:1px solid #f7f7f7;"><strong id="get-date">Tuesday, 26.08.2014</strong>
          <div class="digital-clock" style="font-size:48px;font-weight:bold;font-family:BebasNeue;display:inline-flex;letter-spacing:5px;">
            <div id="getHours" class="get-time">17</div>
            <span>:</span>
            <div id="getMinutes" class="get-time">06</div>
            <span>:</span>
            <div id="getSeconds" class="get-time">02</div>
          </div>
        </li>
        <li class="sidebar-heading"><h4>Main Menu</h4></li>   
        <li><button class="btn btn-danger col-sm-8 col-sm-offset-2" id="tripList">Trips list</button></li>
        <li><button class="btn btn-danger col-sm-8 col-sm-offset-2" id="newBooking">New booking</button></li>
        <li><button class="btn btn-danger col-sm-8 col-sm-offset-2" id="cancelBooking">Cancel booking</button></li>
        <li><button class="btn btn-danger col-sm-8 col-sm-offset-2" id="userList">Users list</button></li>
        <li><button class="btn btn-danger col-sm-8 col-sm-offset-2" id="newUser">Add new user</button></li>
        <li><button class="btn btn-danger col-sm-8 col-sm-offset-2" disabled>Add Feedback</button></li>
        <li><button class="btn btn-danger col-sm-8 col-sm-offset-2" disabled>Fare Calculator</button></li>
      </ul>
    </div>
