<!-- Add Search bar here -->
<div class="row">
      <div class="" style="background:#fff;padding:8px;border-radius:5px;margin-bottom:10px;color:#fff;">
        <div class="col-sm-8">
          <div class="btn btn-default btn-primary" style="font-weight:bold;color:#fff;">Filters</div>
          <div class="btn btn-default btn-success" style="font-weight:bold;color:#fff;" disabled="">Assigned</div>
          <div class="btn btn-default btn-danger" style="font-weight:bold;color:#fff;" disabled="">Finding Drivers</div>
          <div class="btn btn-default btn-warning" style="font-weight:bold;color:#fff;" disabled="">Feedback Pending</div>
          <div class="btn btn-default btn-primary" style="font-weight:bold;color:#fff;" disabled="">FU1</div>
          <div class="btn btn-default btn-info" style="font-weight:bold;color:#fff;" disabled="">FU2</div>
          <div class="btn btn-default btn-default" style="font-weight:bold;" disabled="">Completed</div>
        </div><!-- 
        <div class="col-sm-4"></div> -->
        <div class="col-sm-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search here">
            <span class="input-group-btn">
              <button class="btn btn-default btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div><!-- /input-group -->
        </div>
        <div style="clear:both"></div>
      </div>
    </div>
<div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">List of Trips</div>
      <div class="panel-body">
      	List of all the trips that are present in the system. [To be removed]
      </div>

      <!-- Table -->
      <table class="table" id="tripsTable">
        <thead>
          <tr>
            <th>Status</th>
            <th>Conf Time</th>
            <th>Trip Time</th>
            <th>Cust.Name</th>
            <th>Cust.Mobile</th>
            <th>From</th>
            <th>To</th>
            <th>Driver Name</th>
            <th>Driver Mobile</th>
            <th>Details</th>
            <th>Trip Indicators</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>