<div class="panel">
        <div class="panel-heading" style="background:#0888D7;">
          <h3 class="panel-title" style="padding:5px;color:#f7f7f7;">Trip Cancellation Form</h3>
        </div>
        <div class="panel-body">
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title pull-left">Cancellation Form</h3>
                <div style="font-size:12px;font-weight:bold;background:#333;border-radius:10px;padding:0px 5px;color:white;" class="pull-right">x</div>
                <div style="clear:both"></div>
              </div>
              <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">Mobile no.<span style="color:red">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="Phone number">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">Trip ID</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="inputPassword3" placeholder="Trip id">
                    </div>
                  </div>
                  <div class="form-group">
            <table class="table" style="font-size:12px;margin:0px 20px; width:90%">
      <thead>
        <tr>
          <th></th>
          <th>Status</th>
          <th>From</th>
          <th>To</th>
          <th>Date</th>
          <th>Time</th>
          <th>Est. Fare</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><label class="checkbox-inline" style="margin-top:-20px;">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> 
                    </label></td>
          <td><span class="label label-success" style="font-size:11px;">Assigned</span></td>
          <td>Otto</td>
          <td>Mark</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td><label class="checkbox-inline" style="margin-top:-20px;">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> 
                    </label></td>
          
          <td><span class="label label-danger" style="font-size:11px;">Finding drivers</span></td>
          <td>Jacob</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td><label class="checkbox-inline" style="margin-top:-20px;">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> 
                    </label></td>
          
          <td><span class="label label-success" style="font-size:11px;">Assigned</span></td>
          <td>Larry</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@tw itter</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>  
                  </div>
                  <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                          Trip cancelled by customer because driver didnt come one time.
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                          Trip cancelled by customer because no confirmation is sent.
                        </label>
                      </div>
                      <div class="radio disabled">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
                          Trip cancelled by customer - Got a cab
                        </label>
                      </div>
                      <div class="radio disabled">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
                          Trip cancelled by AutoRaja - Cannot find a driver
                        </label>
                      </div>
                      <div class="radio disabled">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
                          Trip cancelled by AutoRaja - Unknown
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label" style="margin-bottom:10px;">Special Remarks</label>
                    <div class="col-sm-10 col-sm-offset-1">
                      <textarea class="form-control" placeholder="Enter Special remarks here"></textarea>
                    </div>
                  </div>                  
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                      <button type="submit" class="btn btn-default btn-success">Submit and Save</button>
                    </div>
                  </div>
                </form>          
              </div>
            </div>

          </div>
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title pull-left">Customer Details</h3>
                <div style="font-size:12px;font-weight:bold;background:#333;border-radius:10px;padding:0px 5px;color:white;" class="pull-right">x</div>
                <div style="clear:both"></div>

              </div>
              <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="inputEmail3" placeholder="Phone number" value="Mr. Venkatesh">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Phone number</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="inputEmail3" placeholder="Phone number" value="+91 98409 42024">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Email ID</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Phone number" value="kjvenky102@gmail.com">
                    </div>
                  </div>
<!--                   <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Gender</label>
                    <div class="col-sm-8">
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Male
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Female
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Others
                      </label>
                    </div>
                  </div>
 -->                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                      <button type="submit" class="btn btn-default btn-danger">Edit Customer Details</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title pull-left">Customer Trip History</h3>
                <div style="font-size:12px;font-weight:bold;background:#333;border-radius:10px;padding:0px 5px;color:white;" class="pull-right">x</div>
                <div style="clear:both"></div>
              </div>
            <div class="panel-body">
<table class="table table-striped" style="font-size:12px;">
      <thead>
        <tr>
          <th>Status</th>
          <th>From</th>
          <th>To</th>
          <th>Date</th>
          <th>Time</th>
          <th>Fare</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span class="label label-success" style="font-size:11px;">Assigned</span></td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td><span class="label label-info" style="font-size:11px;">F1</span></td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>@fat</td>
          <td>@fat</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td><span class="label label-default" style="font-size:11px;">Completed</span></td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>the Bird</td>
          <td>@tw itter</td>
          <td>@twitter</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>            </div>
          </div>
<!--         <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">General Questions</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div> -->
      </div>
    </div>
  </div>