<div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">List of Users</div>
      <div class="panel-body">
      	List of all the users that are present in the system.
      </div>

      <!-- Table -->
      <table class="table" id="usersTable">
        <thead>
          <tr>
            <th>User Name</th>
            <th>Email Id</th>
            <th>Phone number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>